<!-- <app-tinymce-editor></app-tinymce-editor> -->
<!-- 
<form [formGroup]="testForm">
<div class="col-lg-10 col-md-12 col-xl-10 col-sm-12 col-12">
  <app-tinymce-editor [parentForm]="testForm" [required]=true 
      [requiredError]="'Required'"></app-tinymce-editor>
      </div>
</form> -->

 <div *ngIf="showBuilder">
  <div class="avcommon row">
    <div class="col-9">
      <div class="avcommon-title">Form builder</div>
      <div class="avcommon-border">
        <form-builder [form]="form" (change)="onChange($event)" [options]="options"></form-builder>
      </div>
    </div>

    <div class="col-3 well jsonviewer avcommon-border">
      <div>
        <pre id="json"><code class="language-json" #json></code></pre>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <button type="button" class="btn btn-secondary" (click)="renderForm()">Render Form</button>
    </div>
  </div>
</div>

<div *ngIf="!showBuilder" class="row">
    <div class="col-8 mx-auto">
        <formio [form]="formData" (submit)="submitData($event)"></formio>
    </div>
    
</div>


